html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-image: url("https://cdn.dribbble.com/users/464600/screenshots/2863054/bot-emotions-principle.gif");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 50px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    opacity: 0.85
}

.message-time {
    margin-top: : 4px;
    float: right;
    font-size: 10px;
    color: #d13050;
}